{% include "includes/header.html" %}
{% load i18n %}
{% load auth_extras %}


<title>{% block title %}{% endblock %}</title>
{% block extra_head %}
{% endblock extra_head %}

</header>

<body>
    <nav>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo left">DigiHealth</a>
            <a href="#" data-target="mobile-side-nav" class="sidenav-trigger right"><i
                    class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/">Home</a></li>
                <li><a href="#" class="dropdown-trigger" data-target="center-dropdown-options-desktop">Wellness
                        Centers <i class="material-icons right">arrow_drop_down</i></a></li>
                <li><a href="#">Hospitals</a></li>
                <li><a class="dropdown-trigger" href="#!" data-target="clinic-dropdown-dekstop">Clinics<i
                            class="material-icons right">arrow_drop_down</i></a>
                </li>
                {% if request.user|has_group:"auth-user" %}
                <li><a href="/auth">Manage</a>
                </li>
                {% endif %}

                <li><a href="/">Profile</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'account_logout' %}">Logout</a></li>
                {% else %}
                <li>
                    <a href="{% url 'account_signup' %}">Register</a>
                </li>
                <li><a href="{% url 'account_login' %}">Login</a></li>
                {% endif %}
            </ul>

        </div>
    </nav>

    <ul id="center-dropdown-options-desktop" class="dropdown-content">
        <li><a href="{% url 'centers_all_districts' %}">
                By District</a></li>
        <li><a class="waves-effect" href="{% url 'centers' %}">A-Z</a></li>
    </ul>

    <ul id="clinic-dropdown-dekstop" class="dropdown-content">
        <li><a href="{% url 'active_clinics' %}">Active</a></li>
        {% if user.is_authenticated %}
        <li><a href="#!">Active In My Area</a></li>
        {% endif %}
        <li class="divider"></li>
        <li><a href="{% url 'upcoming_clinics' %}">Upcoming</a></li>
    </ul>

    <ul id="auth-dropdown-options-desktop" class="dropdown-content">
        <li><a href="/auth/manage-clinics">
                Manage Clinics</a></li>
        <li><a href="/auth/manage-centers">
                Manage Centers</a></li>
        <li><a href="#">
                Manage Articles</a></li>
    </ul>


    <!-- mobile side nav -->

    <ul id="mobile-side-nav" class="sidenav">
        <li><a href="/">Home</a></li>
        <li><a href="#" class="dropdown-trigger" data-target="center-dropdown-options-mobile">Wellness
                Centers <i class="material-icons right">arrow_drop_down</i></a></li>
        <li><a href="#">Hospitals</a></li>
        <li><a class="dropdown-trigger" href="#!" data-target="clinic-dropdown-mobile">Clinics<i
                    class="material-icons right">arrow_drop_down</i></a>
        </li>
        <li><a href="#">News</a></li>
        <li><a href="/register">Register</a></li>
        <li><a href="/">Profile</a></li>
        {% if user.is_authenticated %}
        <li><a href="/logout">Logout</a></li>
        {% else %}
        <li><a href="/login">Login</a></li>
        {% endif %}

    </ul>

    <ul id="center-dropdown-options-mobile" class="dropdown-content">
        <li><a href="/centers/district/all">
                By District</a></li>
        <li><a class="waves-effect" href="/centers/">A-Z</a></li>
    </ul>

    <ul id="clinic-dropdown-mobile" class="dropdown-content">
        <li><a href="/active_clinics">Active</a></li>
        {% if user.is_authenticated %}
        <li><a href="#!">Active In My Area</a></li>
        {% endif %}
        <li class="divider"></li>
        <li><a href="/upcoming">Upcoming</a></li>
    </ul>
    {% if messages %}
    <div>
        {% for message in messages%}
        {% if message.tags == 'info' %}
        <div class="alert card blue lighten-4 blue-text text-darken-3">
            <div class="card-content">
                <p><i class="material-icons">info</i>{{message}}</p>
            </div>
        </div>
        {% endif %}
        {% if message.tags == 'error' %}
        <div class="alert card red lighten-4 red-text text-darken-4">
            <div class="card-content">
                <p><i class="material-icons">report</i> {{message}}</p>
            </div>
        </div>
        {% endif %}
        {% if message.tags == 'success' %}
        <div class="alert card green lighten-4 green-text text-darken-4">
            <div class="card-content">
                <p><i class="material-icons">check_circle</i>{{message}}</p>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        <main>
            {% block content %}
            {% endblock %}
        </main>
</body>
{% include "includes/footer.html" %}