{% for article in articles %}

{% if forloop.last %}

<div hx-get="{% url 'center_news'  center.center_abbreviation %}?page={{page_obj.number|add:1}}" hx-trigger="revealed"
    hx-swap="afterend" hx-target="this">
    {% else %}
    <div class="">
        {% endif %}
        <div class="row">
            <div class="article-container updates col s12 m12 l4 ">
                {% if article.article_image %}
                <a href="{% url 'article_details' article.id %}">
                    <img src="{{article.article_image.url}}" alt="">
                </a>
                {% else %}
                <a href="{% url 'article_details' article.id %}">
                    <img src="https://images.unsplash.com/photo-1525715843408-5c6ec44503b1?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fHdvbWFuJTIwcmVhZGluZ3xlbnwwfHwwfHx8MA%3D%3D"
                        alt="">
                </a>
                {% endif %}
            </div>
            <div class="article-container col s12 m12 l8">
                <div class="article-text-container">
                    <a class="flow-text" href="{% url 'article_details' article.id %}">

                        {{article.title}}
                    </a>
                    <div class="divider"></div>
                    {% if article.subtitle %}
                    <a class="update-subtitle" href="{% url 'article_details' article.id %}">
                        {{article.subtitle}}
                    </a>
                    {% endif %}
                    <p class="article-date">{{article.date| date:"d M Y"}}</p>
                </div>
            </div>
        </div>
    </div>

    {% endfor %}