<br>
<br>
<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l4  m4 l3">
                <h5 class="white-text">Medical Centers</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="{% url 'urgent_care_global' %}">Urgent Care
                            Centers</a></li>
                    <li><a class="grey-text text-lighten-3" href="{% url 'phc_centers_global' %}">Primary Care
                            Centers</a></li>
                    <li><a class="grey-text text-lighten-3" href="{% url 'centers_all_districts' %}">District
                            Centers</a></li>
                    <li><a class="grey-text text-lighten-3" href="{% url 'centers' %}">A-Z listing of Centers</a></li>
                </ul>
            </div>
            <div class="col l4  m4 l3">
                <h5 class="white-text">Clinics </h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="{% url 'active_clinics' %}">Active Medical Clinics</a>
                    </li>
                    <li><a class="grey-text text-lighten-3" href="{% url 'upcoming_clinics' %}">Upcoming Medical
                            Clinics</a></li>
                </ul>
            </div>
            <div class="col l4  m4 l3">
                <h5 class="white-text">More Information</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="{% url 'news' %}">News</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            This is a project created by Teryll Felix part of Goldsmith's Univeristy of London Bsc. Computer Science
            degree

        </div>
    </div>
</footer>
</body>

</html>