<div class="alert card blue lighten-4 blue-text text-darken-3">
    <div class="card-content">
        <p><i class="material-icons">info</i><span>This is an alert:</span> It has text within it.</p>
    </div>
</div>

<div class="alert card amber lighten-4 brown-text">
    <div class="card-content">
        <p><i class="material-icons">report_problem</i><span>This is an alert:</span> It has text within it.</p>
    </div>
</div>

<div class="alert card red lighten-4 red-text text-darken-4">
    <div class="card-content">
        <p><i class="material-icons">report</i><span>This is an alert:</span> It has text within it.</p>
    </div>
</div>

<div class="alert card green lighten-4 green-text text-darken-4">
    <div class="card-content">
        <p><i class="material-icons">check_circle</i><span>This is an alert:</span> It has text within it.</p>
    </div>
</div>