{% extends 'includes/base.html' %}
{% block title %}Homepage{% endblock %}

{% block content %}


<div class="row">
    <nav class="nav-extended blue  search-bar-section">
        <div>
            <form action="" class="browser-default right" id="center-query-form">
                {% csrf_token %}
                <i class="material-icons search-icon Small" id="search-icon">search</i>
                <input id="user-input" type="text" class="browser-default search-field form-control"
                    placeholder=" Search" autocomplete="off" aria-label="Search box">
            </form>
        </div>

    </nav>
</div>

<div class="container">
    <div class="row">
        <h3 class="center-align">Urgent Cares</h3>
        <table class="">
            <thead>
                <tr>
                    <th>Facility</th>
                    <th>Location</th>
                    <th>Address</th>
                    <th>Contact</th>
                </tr>
            </thead>
            <tbody>
                {% for center in urgents %}
                <tr>
                    <td> {{ center.name }}</td>
                    <td> {{ center.district }}</td>
                    <td>
                        {{ center.address }}
                    </td>
                    <td><a href="tel:+{{center.contact}}">{{center.contact}}</a></td>
                    <td><a href="
                        {%url 'center_details' center.center_abbreviation %}" target="_blank">Visit</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>



<div class="row ">
    <div class="col s12 m12 l9">
        <h2 class="center-align">Health Services</h2>

        <div class="col s12 m12 l6 amber">
            <h3 class="center-align">Health Facilities In Area</h3>
        </div>
        <div class="col s12 m12 l6 green">
            <h3 class="center-align">Activate Clinics</h3>
        </div>
    </div>
    <div class="col s12 m12 l3 blue">
        <h3>Bulletin Board</h3>
        {% for article in articles %}
        test
        {% empty %}
        nothing to post
        {% endfor %}
    </div>
</div>

<div class="row">
    <div class="col s12 m12 l8 offset-l2 ">
        <div class="carousel carousel-slider center ">
            <div class="carousel-item red white-text" href="#one!">
                <h2>First Panel</h2>
            </div>
            <div class="carousel-item amber white-text" href="#two!">
                <h2>Second Panel</h2>
                <p class="white-text">This is your second panel</p>
            </div>
            <div class="carousel-item green white-text" href="#three!">
                <h2>Third Panel</h2>
                <p class="white-text">This is your third panel</p>
            </div>
            <div class="carousel-item blue white-text" href="#four!">
                <h2>Fourth Panel</h2>
                <p class="white-text">This is your fourth panel</p>
            </div>
        </div>
        <br>
        <div class="center-align">
            <div class="btn green prev waves-effect">Prev</div>
            <div class="btn green next waves-effect">Next</div>
        </div>
    </div>
</div>
{% endblock %}