{% extends 'includes/base.html' %}
{% block title %}Upcoming Clinics{% endblock %}

{% block content %}
{% load materializecss %}

<div class="banner-container">
    <img class="hero-banner"
        src="https://previews.123rf.com/images/nattyblissful/nattyblissful1906/nattyblissful190600019/124032714-woman-doctor-near-the-calendar-work-schedule-make-an-appointment-online-note-important-flat-vector.jpg"
        alt="">
</div>
<div class="container">
    <p class="flow-text">See what clincis are coming up in your area here.
    </p>
</div>

<h1 class="center">Upcoming Clinic in my area</h1>
<div class="container">
    {%if upcoming_clinics %}
    <table class="responsive-table">
        <thead>
            <tr>
                <th class="flow-text">Date</th>
                <th class="flow-text">Clinic</th>
                <th class="flow-text">Facility</th>
                <th class="flow-text">Start Time</th>
                <th class="flow-text">End Time</th>
            </tr>
        </thead>

        <tbody>
            {% for clinic in upcoming_clinics %}
            <tr class="row-highlight">
                <td class="flow-text">{{clinic.start_date}}</td>
                <td class="flow-text">{{clinic.event_name}}</td>
                <td class="flow-text"> <a
                        href="{% url 'center_details' clinic.get_clinic_facility_short %}">{{clinic.get_clinic_facility_long}}</a>
                </td>
                <td class="flow-text">{{clinic.start_time| time:"g:i A"}}</td>
                <td class="flow-text">{{clinic.end_time| time:"g:i A"}}</td>
            </tr>

            {% endfor %}
        </tbody>
    </table>
    {%else %}
    <div class="">
        <p>There are no scheduled medical clinics in your area at this time <a class=""
                href="{% url 'upcoming_clinics' %}">Clear</a> </p>
    </div>
    {% endif %}
</div>

<ul class="pagination center">
    {% if page_obj.has_previous %}
    <!-- 'First' and 'Previous' Buttons -->
    <li class="page-item">
        <a class="page-link  nav-btn" href="?page=1">|&lt; First</a>
    </li>
    <li class="page-item">
        <a class="page-link  nav-btn" href="?page={{ current_page.previous_page_number }}">&lt; Previous</a>
    </li>
    {% endif %}

    <!-- Numbered Buttons -->
    {% for page in paginator.page_range %}
    {% if page_obj.number == page %}
    <li class="page-item">
        <a class="page-link  nav-btn" href="?page={{ page }}"><strong><u>{{ page }}</u></strong></a>
    </li>
    {% elif page > page_obj.number|add:'-3' and page < page_obj.number|add:'3' %} <li class="page-item">
        <a class="page-link  nav-btn" href="?page={{ page }}">{{ page }}</a>
        </li>
        {% endif %}
        {% endfor %}

        <!-- 'Next' and 'Last' Buttons -->
        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link  nav-btn" href="?page={{ page_obj.next_page_number }}">Next &gt;</a>
        </li>
        <li class="page-item">
            <a class="page-link  nav-btn" href="?page={{ page_obj.paginator.num_pages }}">Last &gt;|</a>
        </li>
        {% endif %}
</ul>



{% endblock %}