{% extends 'includes/base.html' %}
{% load static %}
{% block title %}Bulletin Board{% endblock %}

{% block extra_css %}
<link href="{% static 'css/articleStyles.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}
<section>
    <div class="container">
        <h1 class="center section-title">Notices</h1>
        <div class="divider"></div>
        <br>
        <div class="row">
            {% for article in pinned_articles %}
            <div class="col s12 m6 l3 center">
                <div class="card no-shadows">
                    {% if article.article_image %}
                    <a href="{% url 'article_details' article.id %}">
                        <div class="card-image">
                            <img src="{{article.article_image.url}}" alt="{{article.title}}"
                                aria-label="{{article.title}}">
                        </div>
                    </a>
                    {% else %}
                    <a href="{% url 'article_details' article.id %}">
                        <div class="card-image">
                            <img src="https://images.unsplash.com/photo-1525715843408-5c6ec44503b1?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fHdvbWFuJTIwcmVhZGluZ3xlbnwwfHwwfHx8MA%3D%3D"
                                alt="">
                        </div>
                    </a>
                    {% endif %}
                    <div class="card-content">
                        <a href="{% url 'article_details' article.id %}">
                            <p class="card-title emphasis"> {{article.title}} </p>
                        </a>
                        <br>
                        <div class="center">
                            <a aria-label="Read article {{article.title}} "
                                href="{% url 'article_details' article.id %}" class="nav-btn">Read More</a>
                        </div>
                    </div>
                </div>

            </div>
            {% endfor %}
        </div>
    </div>
</section>

<section>
    <div class="container">
        <h2 class="center section-title">Updates</h2>
        <div class="divider"></div>
        <br>

        <div>
            {% include 'includes/article-list.html' %}
        </div>
    </div>

</section>



{% endblock %}