{% extends 'includes/base.html' %}
{% load static %}
{% block title %}{{center_details.name}}{% endblock %}
{% block extra_css %}
<link href="{% static 'css/articleStyles.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<div id="modal1" class="modal">
    <div class="modal-content">
        {% if center_details.address %}
        <p>Google Map Location for: {{center_details.name}} </p>
        {% load easy_maps_tags %}
        {% easy_map address 600 500 17 using "easy_maps/map.html" %}
        {% endif %}
    </div>
</div>


<div class="row">
    <div class="banner-container">
        <img class="hero-banner"
            src="https://www.mountsinai.org/files/MSHealth/Assets/Media/final/HS/Care/PrimaryCare.jpg" alt="">
    </div>

    <div class="container">
        <h2 class="header">{{center_details.name}}</h2>
        <p class="">Primary care is the first point of contact between a patient and the healthcare system, and it gives
            patients access to the knowledge and facilities they need to achieve their health goals. Primary care
            providers usually deal with various patients and have a proper knowledge of the many physical,
            psychological, and social factors that affect their patients.
            <br>
            Primary care practitioners are responsible for the ongoing health of their patients by preventing,
            diagnosing early and managing common health conditions. An important aspect of their work is making
            referrals to specialists as and when needed.
            <br>
            <br>
            They are also in a unique position to understand and study the natural course of disease, the family setting
            in which the patient is placed, and to treat and follow up chronic or recurrent health conditions.
            <br>
            <br>
            <a class="waves-effect waves-light modal-trigger" href="#modal1">Open Map</a>
        </p>

    </div>
</div>

<div class="container">
    <h2 class="center">Clinics</h2>
    <div class="row">
        <div class="col s12 m6 l4 ">
            <h3 class="center">Active Clinics</h3>
            {% if active_clinics%}
            <table class="centered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                    </tr>
                </thead>
                <tbody>
                    {% for clinic in active_clinics %}
                    <tr class="row-highlight">
                        <td> {{ clinic.event_name }}</td>
                        <td> {{ clinic.start_time | time:"g : i A" }}</td>
                        <td> {{ clinic.end_time | time:"g : i A" }}</td>
                    </tr>
                    <tr class="row-highlight">
                        <td> {{ clinic.event_name }}</td>
                        <td> {{ clinic.start_time | time:"g : i A" }}</td>
                        <td> {{ clinic.end_time | time:"g : i A" }}</td>
                    </tr>
                    <tr class="row-highlight">
                        <td> {{ clinic.event_name }}</td>
                        <td> {{ clinic.start_time | time:"g : i A" }}</td>
                        <td> {{ clinic.end_time | time:"g : i A" }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <h4 class="center">No Active Clinics.</h4>
            {% endif %}
        </div>
        <div class="col s12 m6 l5 offset-l3">
            <h3 class="center">Upcoming Clinics</h3>
            {% if upcoming_clinics%}
            <table class="centered">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Name</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                    </tr>
                </thead>
                <tbody>
                    {% for clinic in upcoming_clinics %}
                    <tr class="row-highlight">
                        <td> {{ clinic.start_date }}</td>
                        <td> {{ clinic.event_name }}</td>
                        <td> {{ clinic.start_time | time:"g : i A" }}</td>
                        <td> {{ clinic.end_time | time:"g : i A" }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <h4 class="center">No Clinics Scheduled for this facility.</h4>
            {% endif %}
        </div>
    </div>
</div>


<div class="container">
    <h3 class="center">Clinic Updates</h3>
    <div class="row">
        <div class="article-container center-details col s12 m6 l3 center ">
            <img src="https://images.unsplash.com/photo-1525715843408-5c6ec44503b1?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fHdvbWFuJTIwcmVhZGluZ3xlbnwwfHwwfHx8MA%3D%3D"
                alt="">
            <div class="article-text-container center-details">
                <p class="">article.title</p>
                <p>This is a test title.</p>
            </div>
        </div>
        <div class="article-container center-details col s12 m6 l3 center ">
            <img src="https://images.unsplash.com/photo-1525715843408-5c6ec44503b1?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fHdvbWFuJTIwcmVhZGluZ3xlbnwwfHwwfHx8MA%3D%3D"
                alt="">
            <div class="article-text-container center-details">
                <p class="">article.title</p>
                <p>This is a test title.</p>
            </div>
        </div>
        <div class="article-container center-details col s12 m6 l3 center ">
            <img src="https://images.unsplash.com/photo-1525715843408-5c6ec44503b1?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fHdvbWFuJTIwcmVhZGluZ3xlbnwwfHwwfHx8MA%3D%3D"
                alt="">
            <div class="article-text-container center-details">
                <p class="">article.title</p>
                <p>This is a test title.</p>
            </div>
        </div>
        <div class="article-container center-details col s12 m6 l3 center ">
            <img src="https://images.unsplash.com/photo-1525715843408-5c6ec44503b1?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fHdvbWFuJTIwcmVhZGluZ3xlbnwwfHwwfHx8MA%3D%3D"
                alt="">
            <div class="article-text-container center-details">
                <p class="">article.title</p>
                <p>This is a test title.</p>
            </div>
        </div>


    </div>
</div>
<div class="container">
    <div class="row center">
        <div class="col s12 m4 l4 offset-l4  offset-m4 ">
            <h2 class="title">Operating Hours</h2>
            {% if operating_hours %}
            <table class="centered">
                <thead>
                    <tr>
                        <th>Day</th>
                        <th>Open</th>
                        <th>Close</th>
                    </tr>
                </thead>
                <tbody>
                    {% for hours in operating_hours %}
                    <tr>
                        <td> {{ hours.get_weekday_display }}</td>
                        <td> {{ hours.from_hour }}</td>
                        <td> {{ hours.to_hour }}</td>
                    </tr>

                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <h4 class="center">No operating hours listed for this facility</h4>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}