{% extends 'includes/base.html' %}
{% block title %}Wellness Centers{% endblock %}

{% block content %}


<div id="container">
    <div class="row">
        <nav class="nav-extended blue  search-bar-section">
            <div>
                <form action="" class="browser-default right" id="center-query-form">
                    {% csrf_token %}
                    <i class="material-icons search-icon Small" id="search-icon">search</i>
                    <input id="user-input" type="text" class="browser-default search-field form-control"
                        placeholder=" Search Health center" autocomplete="off" aria-label="Search box">
                    <div class="search-popup" id="search-popup">
                        <div class="search-content">
                            <ul class="popup-list search-results" id="search-results">
                            </ul>
                        </div>
                    </div>
                </form>
            </div>

        </nav>
    </div>
    <div class=" center">
        <ul class="pagination justify-content-center teal nav-filters">
            <li class="page-item"><a class="page-link white-text" href="{% url 'centers' %}">All</a></li>
            <li class="page-item"><a id="query_a" class="page-link white-text" href='?q=a'>A</a></li>
            <li class="page-item"><a id="query_b" class="page-link white-text" href="?q=b">B</a></li>
            <li class="page-item"><a id="query_c" class="page-link white-text" href="?q=c">C</a></li>
            <li class="page-item"><a id="query_d" class="page-link white-text" href="?q=d">D</a></li>
            <li class="page-item"><a id="query_e" class="page-link white-text" href="?q=e">E</a></li>
            <li class="page-item"><a id="query_f" class="page-link white-text" href="?q=f">F</a></li>
            <li class="page-item"><a id="query_g" class="page-link white-text" href="?q=g">G</a></li>
            <li class="page-item"><a id="query_h" class="page-link white-text" href="?q=h">H</a></li>
            <li class="page-item"><a id="query_i" class="page-link white-text" href="?q=i">I</a></li>
            <li class="page-item"><a id="query_j" class="page-link white-text" href="?q=j">J</a></li>
            <li class="page-item"><a id="query_k" class="page-link white-text" href="?q=k">K</a></li>
            <li class="page-item"><a id="query_l" class="page-link white-text" href="?q=l">L</a></li>
            <li class="page-item"><a id="query_m" class="page-link white-text" href="?q=m">M</a></li>
            <li class="page-item"><a id="query_n" class="page-link white-text" href="?q=n">N</a></li>
            <li class="page-item"><a id="query_o" class="page-link white-text" href="?q=o">O</a></li>
            <li class="page-item"><a id="query_p" class="page-link white-text" href="?q=p">P</a></li>
            <li class="page-item"><a id="query_q" class="page-link white-text" href="?q=q">Q</a></li>
            <li class="page-item"><a id="query_r" class="page-link white-text" href="?q=r">R</a></li>
            <li class="page-item"><a id="query_s" class="page-link white-text" href="?q=s">S</a></li>
            <li class="page-item"><a id="query_t" class="page-link white-text" href="?q=t">T</a></li>
            <li class="page-item"><a id="query_u" class="page-link white-text" href="?q=u">U</a></li>
            <li class="page-item"><a id="query_v" class="page-link white-text" href="?q=v">V</a></li>
            <li class="page-item"><a id="query_w" class="page-link white-text" href="?q=w">W</a></li>
            <li class="page-item"><a id="query_x" class="page-link white-text" href="?q=x">X</a></li>
            <li class="page-item"><a id="query_y" class="page-link white-text" href="?q=y">Y</a></li>
            <li class="page-item"><a id="query_z" class="page-link white-text" href="?q=z">Z</a></li>
        </ul>
    </div>

</div>


{% for center in centers %}
<div class="row">
    <div class="col s12 m3 l3">
        <div class="card no-shadows">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator center-thumbnail" src="{{center.center_image.url}}">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">{{center.name}}<i
                        class="material-icons right">more_vert</i></span>
                <p><a href="{% url 'center_details' center.center_abbreviation %}">Learn More</a></p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">{{center.name}}<i
                        class="material-icons right">close</i></span>
                <ul>
                    <li>Contact - {{center.contact}}</li>
                    <li>Located - {{center.address}}</li>
                </ul>
            </div>
        </div>
    </div>
    {% empty %}
    <div class="empty-msg">
        No Centers
    </div>


    {% endfor %}
</div>
</div>

<div class="row center">
    <ul class="pagination">
        {% if centers.has_previous %}
        <li class="waves-effect">
            <a href="?page={{ centers.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"
                class="prev red"><i class="large material-icons">chevron_left</i></a>
        </li>
        {% endif %}
        {% if centers.has_next %}
        <li class="waves-effect green">
            <a href="?page={{ centers.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"
                class="next"><i class="large material-icons">chevron_right</i></a>
        </li>
        {% endif %}
    </ul>
</div>


<script>
    var query_paramter = getUrlVars()["q"];
    active_link = $("body").find('#' + "query_" + query_paramter);
    if (active_link) {
        active_link.addClass("active-link")
    }
</script>
{% endblock %}