{% extends 'includes/base.html' %}
{% load static %}
{% block title %}{{center_details.name}}{% endblock %}
{% block extra_css %}
<link href="{% static 'css/articleStyles.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<div id="modal1" class="modal">
    <div class="modal-content">
        {% if center_details.address %}
        <p>Google Map Location for: {{center_details.name}} </p>
        {% load easy_maps_tags %}
        {% easy_map address 600 500 17 using "easy_maps/map.html" %}
        {% endif %}
    </div>
</div>


<div class="row">
    {% if center_details.center_image %}
    <div class="banner-container">
        <img class="hero-banner" src="{{center_details.center_image.url}}" alt="">
    </div>
    {% else %}
    <div class="banner-container">
        <img class="hero-banner"
            src="https://www.mountsinai.org/files/MSHealth/Assets/Media/final/HS/Care/PrimaryCare.jpg" alt="">
    </div>
    {% endif %}
    <div class="container">
        <div class="">
            <a class="waves-effect waves-light modal-trigger right" href="#modal1"> <i
                    class="material-icons right">map</i>View Location</a>
            <h1 class=" section-title">{{center_details.name}}</h1>
        </div>
        {% if center_details.contact %}
        <div>
            Contact:
            <a href="tel:1{{center_details.contact}}">{{center_details.contact}}</a>
        </div>
        {% endif %}
        {% if center_details.center_description%}
        <p class="flow-text">{{center_details.center_description|linebreaksbr}}
        </p>
        {% endif %}

    </div>
</div>

<div class="container">
    <h2 class="center section-title">Clinics</h2>
    <div class="row">
        <div class="col s12 m6 l4 ">
            <div>
                {% if active_clinics%}
                <a class="nav-btn right" href="{%url 'center_active_clinics' center_details.center_abbreviation%}">See
                    all<i class="material-icons right">arrow_forward</i></a>
                {% else %}
                <a class="btn right disabled" href="#!">See
                    all<i class="material-icons right">arrow_forward</i></a>
                {% endif %}
                <h3 class="center">Active Clinics</h3>
            </div>

            {% if active_clinics%}
            <table class="centered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                    </tr>
                </thead>
                <tbody>
                    {% for clinic in active_clinics %}
                    <tr class="row-highlight">
                        <td> {{ clinic.event_name }}</td>
                        <td> {{ clinic.start_time | time:"g : i A" }}</td>
                        <td> {{ clinic.end_time | time:"g : i A" }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <h4 class="center">No Active Clinics.</h4>
            {% endif %}
        </div>
        <div class="col s12 m6 l5 offset-l3">
            <div>
                {% if upcoming_clinics%}
                <a class="nav-btn right" href="{%url 'center_upcoming_clinics' center_details.center_abbreviation%}">See
                    all<i class="material-icons right">arrow_forward</i></a>
                {%else%}
                <a class="btn right disabled" href="#!">See
                    all<i class="material-icons right">arrow_forward</i></a>
                {% endif %}
                <h3 class="center">Upcoming Clinics</h3>
            </div>

            {% if upcoming_clinics%}
            <table class="centered">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Name</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                    </tr>
                </thead>
                <tbody>
                    {% for clinic in upcoming_clinics %}
                    <tr class="row-highlight">
                        <td> {{ clinic.start_date }}</td>
                        <td> {{ clinic.event_name }}</td>
                        <td> {{ clinic.start_time | time:"g : i A" }}</td>
                        <td> {{ clinic.end_time | time:"g : i A" }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p class="center flow-text">No Clinics Scheduled for this facility.</p>
            {% endif %}
        </div>
    </div>
</div>


<div class="container">
    {% if center_articles %}
    <a class="" href="{% url 'center_news' center_details.center_abbreviation %}">
        <h2 class="section-title center ">Clinic Updates</h2>
    </a>
    {% else %}

    <h2 class="section-title center ">Clinic Updates</h2>

    {% endif %}
    {% if center_articles %}
    <div class="row">
        {% for article in center_articles %}
        <div class="col s12 m6 l3 center">
            <div class="card no-shadows">
                {% if article.article_image %}
                <a href="{% url 'article_details' article.id %}">
                    <div class="card-image">
                        <img src="{{article.article_image.url}}" alt="">
                    </div>
                </a>
                {% else %}
                <a href="{% url 'article_details' article.id %}">
                    <div class="card-image">
                        <img src="https://images.unsplash.com/photo-1525715843408-5c6ec44503b1?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fHdvbWFuJTIwcmVhZGluZ3xlbnwwfHwwfHx8MA%3D%3D"
                            alt="">
                    </div>
                </a>
                {% endif %}
                <div class="card-content">
                    <p>{{article.date|date:"D d M, Y"}}</p>
                    <a href="{% url 'article_details' article.id %}">
                        <p class="card-title emphasis"> {{article.title}} </p>
                    </a>
                    <br>
                    <div class="center">
                        <a href="{% url 'article_details' article.id %}" class="nav-btn">Read More</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <h3 class="center">No notices for this facility</h3>
    {% endif %}
</div>
<div class="container">
    <div class="row center">
        <div class="col s12 m4 l4 offset-l4  offset-m4 ">
            <h2 class="title">Operating Hours</h2>
            {% if operating_hours %}
            <table class="centered">
                <thead>
                    <tr>
                        <th>Day</th>
                        <th>Open</th>
                        <th>Close</th>
                    </tr>
                </thead>
                <tbody>
                    {% for hours in operating_hours %}
                    {% if hours.is_closed %}
                    <tr class="row-highlight">
                        <td> {{ hours.get_weekday_display }}</td>
                        <td colspan="2" class="strong"> closed</td>
                    </tr>
                    {% else %}
                    <tr class="row-highlight">
                        <td> {{ hours.get_weekday_display }}</td>
                        <td> {{ hours.from_hour|time:"g:i a " }}</td>
                        <td> {{ hours.to_hour|time:"g:i a " }}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <h4 class="center">No operating hours listed for this facility</h4>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}