{% extends 'includes/base.html' %}
{% block title %}District Wellness Centers{% endblock %}

{% block content %}
<div class="row search-bar-section">
    <nav class="nav-extended blue">
        <div>
            <form action="" class="browser-default right" id="center-query-form">
                {% csrf_token %}
                <i class="material-icons search-icon Small" id="search-icon">search</i>
                <input id="user-input" type="text" class="browser-default search-field form-control"
                    placeholder=" Search Health center" autocomplete="off" aria-label="Search box">
                <div class="search-popup" id="search-popup">
                    <div class="search-content">
                        <ul class="popup-list search-results" id="search-results">
                        </ul>
                    </div>
                </div>
            </form>
        </div>

    </nav>
</div>
<div class="row center">
    <ul class="pagination justify-content-center nav-filters">
        <li class="page-item"><a class="page-link white-text " href="{% url 'centers_all_districts' %}">All</a></li>
        <li class="page-item"><a id="query_GI" class="page-link white-text " href='?q=GI'>Gros-Islet</a></li>
        <li class="page-item"><a id="query_CAS" class="page-link white-text " href="?q=CAS">Castries</a></li>
        <li class="page-item"><a id="query_ALR" class="page-link white-text " href="?q=ALR">Anse La Raye</a></li>
        <li class="page-item"><a id="query_LAB" class="page-link white-text " href='?q=LAB'>Laborie</a></li>
        <li class="page-item"><a id="query_CAN" class="page-link white-text " href="?q=CAN">Canaries</a></li>
        <li class="page-item"><a id="query_CHO" class="page-link white-text " href="?q=CHO">Choiseul</a></li>
        <li class="page-item"><a id="query_DEN" class="page-link white-text " href='?q=DEN'>Dennery</a></li>
        <li class="page-item"><a id="query_MIC" class="page-link white-text " href="?q=MIC">Micoud</a></li>
        <li class="page-item"><a id="query_VF" class="page-link white-text " href="?q=VF">Vieux-Fort</a></li>
        <li class="page-item"><a id="query_SOU" class="page-link white-text " href="?q=SOU">Soufriere</a></li>
    </ul>
</div>

<div class="container">
    {% for center in centers %}
    <div class="row">
        <div class="col s12 m6 l4">
            <div class="card no-shadows">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator center-thumbnail" src="{{center.center_image.url}}">
                </div>
                <div class="card-content">
                    <span class="card-title activator emphasis">{{center.name}}<i
                            class="material-icons right">more_vert</i></span>
                    <p><a class="nav-btn" href="{% url 'center_details' center.center_abbreviation %}">Learn More</a>
                    </p>
                </div>
                <div class="card-reveal">
                    <span class="card-title emphasis">{{center.name}}<i class="material-icons right">close</i></span>
                    <ul>
                        <li>Contact - {{center.contact}}</li>
                        <li>Located - {{center.address}}</li>
                    </ul>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="empty-msg">
            No Centers
        </div>


        {% endfor %}
    </div>
</div>

<div class="container">

    <ul class="pagination center">
        {% if centers.has_previous %}
        <!-- 'First' and 'Previous' Buttons -->
        <li class="page-item">
            <a class="page-link nav-btn" href="?page=1{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">|&lt;
                First</a>
        </li>
        <li class="page-item">
            <a class="page-link nav-btn"
                href="?page={{ centers.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">&lt;
                Previous</a>
        </li>
        {% endif %}

        <!-- Numbered Buttons -->
        {% for page in paginator.page_range %}
        {% if centers.number == page %}
        <li class="page-item">
            <a class="page-link "
                href="?page={{ page }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"><strong><u>{{ page
                        }}</u></strong></a>
        </li>
        {% elif page > centers.number|add:'-3' and page < centers.number|add:'3' %} <li class="page-item">
            <a class="page-link" href="?page={{ page }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ page
                }}</a>
            </li>
            {% endif %}
            {% endfor %}

            <!-- 'Next' and 'Last' Buttons -->
            {% if centers.has_next %}
            <li class="page-item">
                <a class="page-link nav-btn"
                    href="?page={{ centers.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Next
                    &gt;</a>
            </li>
            <li class="page-item">
                <a class="page-link  nav-btn"
                    href="?page={{ centers.paginator.num_pages }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Last
                    &gt;|</a>
            </li>
            {% endif %}
    </ul>
</div>



<script>
    var query_paramter = getUrlVars()["q"];
    active_link = $("body").find('#' + "query_" + query_paramter);
    if (active_link) {
        active_link.addClass("active-link")
    }
</script>
{% endblock %}