{% extends 'includes/base.html' %}
{% block title %}District Wellness Centers{% endblock %}

{% block content %}
<a href="#" data-target="slide-out" class="sidenav-trigger btn side-nav-trigger-btn">Navigate</a>
<ul id="slide-out" class="sidenav mobile-submenu">

    <li><a class="waves-effect" onclick="scrollSmoothTo('giNavHeader')">Gros-Islet</a></li>
    <li><a class="waves-effect" onclick="scrollSmoothTo('casNavHeader')">Castries</a></li>
    <li><a class="waves-effect" onclick="scrollSmoothTo('alrNavHeader')">Anse La Raye</a></li>
    <li><a class="waves-effect" onclick="scrollSmoothTo('denNavHeader')">Dennery</a></li>
    <li><a class="waves-effect" onclick="scrollSmoothTo('canNavHeader')">Canaries</a></li>
    <li><a class="waves-effect" onclick="scrollSmoothTo('micNavHeader')">Micoud</a></li>
    <li><a class="waves-effect" onclick="scrollSmoothTo('souNavHeader')">Sourfriere</a></li>
    <li><a class="waves-effect" onclick="scrollSmoothTo('choNavHeader')">Choiseul</a></li>
    <li><a class="waves-effect" onclick="scrollSmoothTo('labNavHeader')">Labourie</a></li>
    <li><a class="waves-effect" onclick="scrollSmoothTo('vfNavHeader')">Vieux Fort</a></li>
</ul>

<div class="container">
    <div class="row">
        {% for center in centers %}
        <p>test</p>
        {% empty %}
        <h2>Nothing</h2>
        {% endfor %}
    </div>
    {% endblock %}