{% extends 'includes/base.html' %}
{% load static %}
{% block title %}Primary Care Facilities{% endblock %}


{% block content %}
<div class="row">
    <div class="banner-container">
        <img class="hero-banner"
            src="https://www.mountsinai.org/files/MSHealth/Assets/Media/final/HS/Care/PrimaryCare.jpg" alt="">
    </div>

    <div class="container">
        <h2 class="section-title">Primary Health Care</h2>
        <p class="flow-text">Primary care is the first point of contact between a patient and the healthcare system, and
            it gives
            patients access to the knowledge and facilities they need to achieve their health goals. Primary care
            providers usually deal with various patients and have a proper knowledge of the many physical,
            psychological, and social factors that affect their patients.
            <br>
            Primary care practitioners are responsible for the ongoing health of their patients by preventing,
            diagnosing early and managing common health conditions. An important aspect of their work is making
            referrals to specialists as and when needed.
            <br>
            <br>
            They are also in a unique position to understand and study the natural course of disease, the family setting
            in which the patient is placed, and to treat and follow up chronic or recurrent health conditions.
        </p>
    </div>
</div>
<div class="container">
    <div class="row">
        {% for center in centers %}
        <div class="col s12 m6 l4">
            <div class="card no-shadows">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator center-thumbnail" src="{{center.center_image.url}}">
                </div>
                <div class="card-content">
                    <span class="card-title emphasis activator ">{{center.name}}<i
                            class="material-icons right">more_vert</i></span>
                    <p><a class="nav-btn" href="{% url 'center_details' center.center_abbreviation %}">Learn More</a>
                    </p>
                </div>
                <div class="card-reveal">
                    <span class="card-title emphasis ">{{center.name}}<i class="material-icons right">close</i></span>
                    <ul>
                        <li>Contact - {{center.contact}}</li>
                        <li>Located - {{center.address}}</li>
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}