{% extends 'includes/base.html' %}
{% load allauth i18n socialaccount %}
{% block head_title %}
{% trans "Signup" %}
{% endblock head_title %}
{% block content %}

<div class="row">
    <div class="col s12 m8 l6 offset-m2 offset-l3">
        <div class="card">
            <div class="card-action teal lighten-1 white-text">
                <h3>Register Account</h3>
            </div>
            <p>
                Already have an account? Then please <a href="{% url 'account_login' %}">Login</a>.
            </p>
            <form method="POST" autocomplete="off">
                {% csrf_token %}
                <div class="card-content">
                    <div class="row">

                        {% element form form=form method="post" action=action_url tags="entrance,signup" %}
                        {% slot body %}
                        {% csrf_token %}
                        {% element fields form=form unlabeled=False %}
                        {% endelement %}
                        {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                        {% endslot %}
                        {% slot actions %}

                        {% endslot %}
                        {% endelement %}
                        {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
                    </div>

                    <div class='row'>
                        <button type='submit' class='col s12 btn btn-large waves-effect teal'>Register</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}