{% extends 'includes/base.html' %}
{% block title %}Profile{% endblock %}

{% block content %}
<section>
    <h1 class="section-title center">My Information</h1>
    <div class="container">
        <h2 class="center section-title">Personal Information</h2>
        {% if profile_data %}
        <div class="center">
            <a href="{% url 'update_user_profile' request.user.email %}" class="btn center"> Update </a>
        </div>

        <div class="row">
            <div class="col s4 m4 l4 offset-l4 offset-m4 offset-s3 ">
                <p class="flow-text">First Name</p>
            </div>
            <div class="col s4 m4 l4">
                <p class="flow-text">{{profile_data.first_name}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col s4 m4 l4 offset-l4 offset-m4 offset-s3 ">
                <p class="flow-text">Surname</p>
            </div>
            <div class="col s4 m4 l4 ">
                <p class="flow-text">{{profile_data.last_name}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col s4 m4 l4 offset-l4 offset-m4 offset-s3 ">
                <p class="flow-text">Gender</p>
            </div>
            <div class="col s4 m4 l4 ">
                <p class="flow-text">{{profile_data.gender}}</p>
            </div>
        </div>
        {% else %}
        <p class="center flow-text">Please add profile data.</p>
        <div class="center">

            <a href="{% url 'create_user_profile' request.user.email %}" class="btn center"> Create </a>
        </div>
        {% endif %}
        <h2 class="center section-title">User Address</h2>
        {% if user_address %}
        <div class="center">
            <a href="{% url 'update_user_address' request.user.email %}" class="btn center"> Update </a>
        </div>
        <div class="row">
            <div class="col s4 m4 l4 offset-l4 offset-m4 offset-s3 ">
                <p class="flow-text">Address 1</p>
            </div>
            <div class="col s4 m4 l4 ">
                <p class="flow-text">{{user_address.address1}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col s4 m4 l4 offset-l4 offset-m4 offset-s3 ">
                <p class="flow-text">Address 2</p>
            </div>
            <div class="col s4 m4 l4 ">
                <p class="flow-text">{{user_address.address2}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col s4 m4 l4 offset-l4 offset-m4 offset-s3 ">
                <p class="flow-text">District</p>
            </div>
            <div class="col s4 m4 l4 ">
                <p class="flow-text">{{user_address.district }}</p>
            </div>
        </div>
        {% else %}
        <p class="center flow-text">Please add address.</p>
        <div class="center">
            <a href="{% url 'create_user_address' request.user.email %}" class="btn center"> Create </a>
        </div>
        {% endif %}
    </div>
</section>

{% endblock %}