{% extends 'includes/base.html' %}
{% block title %}{{district.name}} Active Clinics{% endblock %}
{% block content %}
<h2>Active Clinics for: {{district.name}}</h2>

<p>dinstinct centers</p>
<div class=" center">
    <ul class="pagination justify-content-center teal">
        {% for center in centers %}
        {% ifchanged %}
        <li class="page-item"><a class="page-link white-text"
                href="{% url 'center_active_clinics' center.facility.center_abbreviation %}">{{center.facility.name}}</a>
        </li>
        {%endifchanged %}
        {% endfor %}
    </ul>
</div>
clinic events:
<ul>
    {% for clinic in active_clinics %}

    <li>{{clinic}}</li>
    {% empty %}
    <h2>Nada</h2>
    {%endfor%}
</ul>

<div class="pagination center">
    <span class="page-links">
        {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
        <span class="page-current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

{% endblock %}