{% extends 'includes/base.html' %}
{% block title %}Future Clinics{% endblock %}

{% block content %}
{% load materializecss %}

<h1>Clinic Schedule for- {{date|date:'D d M'}}</h1>


<a href="#" data-target="slide-out" class="sidenav-trigger btn side-nav-trigger-btn">Navigate</a>
<ul id="slide-out" class="sidenav mobile-submenu">

    <li><a class="waves-effect" onclick="scrollSmoothTo('giNavHeader')">Gros-Islet</a></li>
    <li><a class="waves-effect" onclick="scrollSmoothTo('casNavHeader')">Castries</a></li>
    <li><a class="waves-effect" onclick="scrollSmoothTo('alrNavHeader')">Anse La Raye</a></li>
    <li><a class="waves-effect" onclick="scrollSmoothTo('denNavHeader')">Dennery</a></li>
    <li><a class="waves-effect" onclick="scrollSmoothTo('canNavHeader')">Canaries</a></li>
    <li><a class="waves-effect" onclick="scrollSmoothTo('micNavHeader')">Micoud</a></li>
    <li><a class="waves-effect" onclick="scrollSmoothTo('souNavHeader')">Sourfriere</a></li>
    <li><a class="waves-effect" onclick="scrollSmoothTo('choNavHeader')">Choiseul</a></li>
    <li><a class="waves-effect" onclick="scrollSmoothTo('labNavHeader')">Labourie</a></li>
    <li><a class="waves-effect" onclick="scrollSmoothTo('vfNavHeader')">Vieux Fort</a></li>
</ul>

<h1 class="center-align" id="giNavHeader">Gros-Islet</h1>
<div class="container">
    <div class="row">
        {% for clinic in gi_clinics %}
        <div class="col s12 m6 l4">
            <div class="card-panel light-blue">{{clinic.clinic_type}}
                <p>{{clinic.start_date}}</p>
            </div>
        </div>
        {% empty %}
        <h2 class="center-align">No upcoming clinics for this area</h2>
        {% endfor %}
    </div>
</div>

<h1 class="center-align" id="casNavHeader">Castries</h1>
<div class="container">
    <div class="row">
        {% for clinic in cas_clinics %}
        <div class="col s12 m6 l4">
            <div class="card-panel light-blue">{{clinic.clinic_type}}
                <p>{{clinic.start_date}}</p>
            </div>
        </div>
        {% empty %}
        <h2 class="center-align">No upcoming clinics for this area</h2>
        {% endfor %}
    </div>
</div>

<h1 class="center-align" id="alrNavHeader">Anse La Raye</h1>
<div class="container">
    <div class="row">
        {% for clinic in cas_clinics %}
        <div class="col s12 m6 l4">
            <div class="card-panel light-blue">{{clinic.clinic_type}}
                <p>{{clinic.start_date}}</p>
            </div>
        </div>
        {% empty %}
        <h2 class="center-align">No upcoming clinics for this area</h2>
        {% endfor %}
    </div>
</div>
<h1 class="center-align" id="denNavHeader">Dennery</h1>
<div class="container">
    <div class="row">
        {% for clinic in cas_clinics %}
        <div class="col s12 m6 l4">
            <div class="card-panel light-blue">{{clinic.clinic_type}}
                <p>{{clinic.start_date}}</p>
            </div>
        </div>
        {% empty %}
        <h2 class="center-align">No upcoming clinics for this area</h2>
        {% endfor %}
    </div>
</div>
<h1 class="center-align" id="canNavHeader">Canaries</h1>
<div class="container">
    <div class="row">
        {% for clinic in cas_clinics %}
        <div class="col s12 m6 l4">
            <div class="card-panel light-blue">{{clinic.clinic_type}}
                <p>{{clinic.start_date}}</p>
            </div>
        </div>
        {% empty %}
        <h2 class="center-align">No upcoming clinics for this area</h2>
        {% endfor %}
    </div>
</div>
<h1 class="center-align" id="micNavHeader">Micoud</h1>
<div class="container">
    <div class="row">
        {% for clinic in cas_clinics %}
        <div class="col s12 m6 l4">
            <div class="card-panel light-blue">{{clinic.clinic_type}}
                <p>{{clinic.start_date}}</p>
            </div>
        </div>
        {% empty %}
        <h2 class="center-align">No upcoming clinics for this area</h2>
        {% endfor %}
    </div>
</div>
<h1 class="center-align" id="souNavHeader">Sourfriere</h1>
<div class="container">
    <div class="row">
        {% for clinic in cas_clinics %}
        <div class="col s12 m6 l4">
            <div class="card-panel light-blue">{{clinic.clinic_type}}
                <p>{{clinic.start_date}}</p>
            </div>
        </div>
        {% empty %}
        <h2 class="center-align">No upcoming clinics for this area</h2>
        {% endfor %}
    </div>
</div>
<h1 class="center-align" id="choNavHeader">Choiseul</h1>
<div class="container">
    <div class="row">
        {% for clinic in cas_clinics %}
        <div class="col s12 m6 l4">
            <div class="card-panel light-blue">{{clinic.clinic_type}}
                <p>{{clinic.start_date}}</p>
            </div>
        </div>
        {% empty %}
        <h2 class="center-align">No upcoming clinics for this area</h2>
        {% endfor %}
    </div>
</div>
<h1 class="center-align" id="labNavHeader">Labourie</h1>
<div class="container">
    <div class="row">
        {% for clinic in cas_clinics %}
        <div class="col s12 m6 l4">
            <div class="card-panel light-blue">{{clinic.clinic_type}}
                <p>{{clinic.start_date}}</p>
            </div>
        </div>
        {% empty %}
        <h2 class="center-align">No upcoming clinics for this area</h2>
        {% endfor %}
    </div>
</div>
<h1 class="center-align" id="vfNavHeader">Vieux Fort</h1>
<div class="container">
    <div class="row">
        {% for clinic in cas_clinics %}
        <div class="col s12 m6 l4">
            <div class="card-panel light-blue">{{clinic.clinic_type}}
                <p>{{clinic.start_date}}</p>
            </div>
        </div>
        {% empty %}
        <h2 class="center-align">No upcoming clinics for this area</h2>
        {% endfor %}
    </div>
</div>


{% endblock %}