{% extends 'includes/base.html' %}
{% block title %}Upcoming Clinics{% endblock %}

{% block content %}
{% load materializecss %}

<h1>upcoming Clinics</h1>

{% for date in next_dates %}
{% for key, value in date.items %}

<li><a target="_blank" href="{% url 'future_clinics' futuredate=value %}">{{key|date:'D d M'}}</a></li>
{%endfor%}
{%endfor%}



<h1 class="center-align" id="giNavHeader">Gros-Islet</h1>
<div class="container">
    <div class="row">
        {% for clinic in gi_clinics %}
        <div class="col s12 m6 l4">
            <div class="card-panel light-blue">{{clinic.clinic_type}}
                <p>{{clinic.start_date}}</p>
            </div>
        </div>
        {% empty %}
        <h2 class="center-align">No upcoming clinics for this area</h2>
        {% endfor %}
    </div>
</div>

<h1 class="center-align" id="casNavHeader">Castries</h1>
<div class="container">
    <div class="row">
        {% for clinic in cas_clinics %}
        <div class="col s12 m6 l4">
            <div class="card-panel light-blue">{{clinic.clinic_type}}
                <p>{{clinic.start_date}}</p>
            </div>
        </div>
        {% empty %}
        <h2 class="center-align">No upcoming clinics for this area</h2>
        {% endfor %}
    </div>
</div>

<h1 class="center-align" id="alrNavHeader">Anse La Raye</h1>
<div class="container">
    <div class="row">
        {% for clinic in cas_clinics %}
        <div class="col s12 m6 l4">
            <div class="card-panel light-blue">{{clinic.clinic_type}}
                <p>{{clinic.start_date}}</p>
            </div>
        </div>
        {% empty %}
        <h2 class="center-align">No upcoming clinics for this area</h2>
        {% endfor %}
    </div>
</div>
<h1 class="center-align" id="denNavHeader">Dennery</h1>
<div class="container">
    <div class="row">
        {% for clinic in cas_clinics %}
        <div class="col s12 m6 l4">
            <div class="card-panel light-blue">{{clinic.clinic_type}}
                <p>{{clinic.start_date}}</p>
            </div>
        </div>
        {% empty %}
        <h2 class="center-align">No upcoming clinics for this area</h2>
        {% endfor %}
    </div>
</div>
<h1 class="center-align" id="canNavHeader">Canaries</h1>
<div class="container">
    <div class="row">
        {% for clinic in cas_clinics %}
        <div class="col s12 m6 l4">
            <div class="card-panel light-blue">{{clinic.clinic_type}}
                <p>{{clinic.start_date}}</p>
            </div>
        </div>
        {% empty %}
        <h2 class="center-align">No upcoming clinics for this area</h2>
        {% endfor %}
    </div>
</div>
<h1 class="center-align" id="micNavHeader">Micoud</h1>
<div class="container">
    <div class="row">
        {% for clinic in cas_clinics %}
        <div class="col s12 m6 l4">
            <div class="card-panel light-blue">{{clinic.clinic_type}}
                <p>{{clinic.start_date}}</p>
            </div>
        </div>
        {% empty %}
        <h2 class="center-align">No upcoming clinics for this area</h2>
        {% endfor %}
    </div>
</div>
<h1 class="center-align" id="souNavHeader">Sourfriere</h1>
<div class="container">
    <div class="row">
        {% for clinic in cas_clinics %}
        <div class="col s12 m6 l4">
            <div class="card-panel light-blue">{{clinic.clinic_type}}
                <p>{{clinic.start_date}}</p>
            </div>
        </div>
        {% empty %}
        <h2 class="center-align">No upcoming clinics for this area</h2>
        {% endfor %}
    </div>
</div>
<h1 class="center-align" id="choNavHeader">Choiseul</h1>
<div class="container">
    <div class="row">
        {% for clinic in cas_clinics %}
        <div class="col s12 m6 l4">
            <div class="card-panel light-blue">{{clinic.clinic_type}}
                <p>{{clinic.start_date}}</p>
            </div>
        </div>
        {% empty %}
        <h2 class="center-align">No upcoming clinics for this area</h2>
        {% endfor %}
    </div>
</div>
<h1 class="center-align" id="labNavHeader">Labourie</h1>
<div class="container">
    <div class="row">
        {% for clinic in cas_clinics %}
        <div class="col s12 m6 l4">
            <div class="card-panel light-blue">{{clinic.clinic_type}}
                <p>{{clinic.start_date}}</p>
            </div>
        </div>
        {% empty %}
        <h2 class="center-align">No upcoming clinics for this area</h2>
        {% endfor %}
    </div>
</div>
<h1 class="center-align" id="vfNavHeader">Vieux Fort</h1>
<div class="container">
    <div class="row">
        {% for clinic in cas_clinics %}
        <div class="col s12 m6 l4">
            <div class="card-panel light-blue">{{clinic.clinic_type}}
                <p>{{clinic.start_date}}</p>
            </div>
        </div>
        {% empty %}
        <h2 class="center-align">No upcoming clinics for this area</h2>
        {% endfor %}
    </div>
</div>


{% endblock %}