{% extends 'includes/base.html' %}
{% block title %}Upcoming Clinics{% endblock %}

{% block content %}
{% load materializecss %}

<div class="banner-container">
    <img class="hero-banner"
        src="https://previews.123rf.com/images/nattyblissful/nattyblissful1906/nattyblissful190600019/124032714-woman-doctor-near-the-calendar-work-schedule-make-an-appointment-online-note-important-flat-vector.jpg"
        alt="">
</div>
<div class="container">
    <p class="flow-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum tenetur ad facilis maxime
        repudiandae, ullam
        animi iste dolor, enim reprehenderit quam, error nulla voluptatem quisquam non quas explicabo consectetur ab.
    </p>
</div>
<div class="container">
    <div class="right-align">
        <a class="btn" href="{% url 'upcoming_clinics' %}">Clear</a>
    </div>
    <form action="" method="get">
        <div class="row">
            <div class="col s12 m6 l3">
                {{event_filter.form.start_date.label}}
                {{event_filter.form.start_date}}
            </div>
            <div class="col s12 m6 l3">
                {{event_filter.form.event_name.label}}
                {{event_filter.form.event_name}}
            </div>
            <div class="col s12 m6 l3 ">
                {{event_filter.form.facility.label}}
                {{event_filter.form.facility}}
            </div>
            <div class="col s12 m6 l3 ">
                {{event_filter.form.location.label}}
                {{event_filter.form.location}}
            </div>
        </div>
        <div class="center-align">
            <input type="submit" class="btn" value="Search">
        </div>
    </form>
</div>

<h1 class="center">Upcoming Clinics</h1>
<div class="container">
    {%if upcoming_clinics %}

    <table class="responsive-table">
        <thead>
            <tr>
                <th class="flow-text">Date</th>
                <th class="flow-text">Clinic</th>
                <th class="flow-text">Facility</th>
                <th class="flow-text">Location</th>
                <th class="flow-text">Start Time</th>
                <th class="flow-text">End Time</th>
            </tr>
        </thead>

        <tbody>
            {% for clinic in upcoming_clinics %}
            <tr class="row-highlight">
                <td class="flow-text">{{clinic.start_date}}</td>
                <td class="flow-text">{{clinic.event_name}}</td>
                <td class="flow-text"> <a
                        href="{% url 'center_details' clinic.get_clinic_facility_short %}">{{clinic.get_clinic_facility_long}}</a>
                </td>
                <td class="flow-text">{{clinic.get_clinic_district_long}}</td>
                <td class="flow-text">{{clinic.start_time| time:"g:i A"}}</td>
                <td class="flow-text">{{clinic.end_time| time:"g:i A"}}</td>
            </tr>

            {% endfor %}
        </tbody>
    </table>
    {%else %}
    <div class="">
        <p>Sorry but your search found nohing that matched your query. Adjust your search parameters and try again. <a
                class="" href="{% url 'upcoming_clinics' %}">Clear</a> </p>
    </div>
    {% endif %}
</div>

<div class="container">
    <div class="pagination center">
        <span class="page-links">
            {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
            <span class="page-current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
</div>



{% endblock %}