.article-container img {
  max-width: 400px;
}

.article-container.updates {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 1rem;
}

.article-text-container {
  margin-left: 1.5rem;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.article-text-container p {
  width: 100%;
}

.article-text-container.center-details {
  margin: 0;
}

.center-details img {
  max-width: 300px;
}
