/* STYLESHEET FOR ELEMENTS THAT OCCUR THROUGHOUT WESBITE */
/* :root {
  --primary-color: #0486CC; CONTRAST CHECK FAIL
  --primary-color: #0486cc;
  --secondary-color: #f3f3f3;
} */

:root {
  --primary-color: #0486cc;
  --primary-color-light: #41a3d8;
  --primary-color-dark: #026194;
  --primary-color-transparent: #0486cc3f;
  --secondary-color: #f3f3f3;
  --accent-color: #59d359;
  --black: #00171f;
  --dark-grey: #414141ab;
}
.sticky-nav {
  position: fixed;
  top: 0;
  width: 100%;
}

/* navigation */
.nav-wrapper {
  background-color: var(--primary-color) !important;
  font-weight: 600;
}

nav ul a {
  color: var(--secondary-color) !important;
}

.dropdown-content li > a {
  color: var(--primary-color) !important;
}

/* footer content */

.page-footer {
  background-color: var(--primary-color) !important;
}

/* search bar area */

.search-bar-section {
  margin-top: 0.8rem;
}

.search-bar-section input {
  border: 1.5px solid var(--primary-color);
  margin-right: 0.8rem;
  color: var(--black);
}

.search-bar-section input:hover {
  background-color: var(--accent-color);
}

.search-bar-section input:focus {
  border: 2px solid var(--black);
}

.search-bar-section .search-icon {
  color: var(--accent-color);
}

/* filter links */

.pagination.nav-filters {
  background-color: var(--primary-color) !important;
}

.nav-filters .page-item a {
  color: var(--secondary-color) !important;
  font-weight: 500 !important;
}

.nav-filters .page-item .active-link {
  background-color: var(--primary-color-dark);
}

.nav-filters .page-item .page-link.active-link {
  color: var(--secondary-color) !important;
  font-weight: 700;
}

.profile-data {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* styling for no shadows card elements */
.no-shadows {
  box-shadow: none !important;
}
.no-shadows:hover {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2) !important;
}

/* overide default btn styling */
.btn {
  text-decoration: none;
  color: #fff;
  background-color: #0486cc;
  text-align: center;
  letter-spacing: 0.5px;
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
  cursor: pointer;
}
.btn:hover,
.btn:focus {
  background-color: #5dacd6;
}
/* custom btn */
.nav-btn {
  border: 2px solid var(--primary-color);
  background-color: var(--primary-color-transparent);
  text-decoration: none;
  color: var(--black);
  text-align: center;
  letter-spacing: 0.5px;
  font-weight: 600;
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
  cursor: pointer;
  padding: 0.3em 0.5em;
  border-radius: 5px;
}

.nav-btn:hover {
  background-color: #008cba;
  color: white;
}

.material-tooltip {
  background-color: var(--primary-color-dark);
  color: var(--secondary-color);
  font-weight: 500;
}

/* Banner container for wide images  */
.banner-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-banner {
  max-width: 100%;
  max-height: 500px;
}

/* stylign for popup card image on findig center pages*/
.center-thumbnail {
  object-fit: contain;
  max-height: 300px;
}
/* styling for rows */
.row-highlight {
  transition: background-color 0.2s ease-out;
}
.row-highlight:hover {
  background-color: var(--primary-color-transparent);
}

.date-container {
  width: 60px;
  height: 60px;
  background: var(--primary-color);
  color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

::placeholder {
  color: var(--dark-grey);
  opacity: 1; /* Firefox */
}

/* SIDE NAV STYLING */

.side-navbar li {
  border-bottom: 0.1px solid var(--secondary-color);
}

/* carosul */
