:root {
  --primary-color: #0486cc;
  --primary-color-light: #41a3d8;
  --primary-color-dark: #026194;
  --primary-color-transparent: #0486cc3f;
  --secondary-color: #f3f3f3;
  --accent-color: #59d359;
  --black: #00171f;
  --dark-grey: #414141ab;
}
.homepage-action {
  margin-top: 1rem;
}
.carousel-item img {
  object-fit: fill;
  width: 100%;
  max-height: 700px;
}

.article-thumbnail {
  width: 100px;
  height: 100px;
}

.article-thumbnail-text {
  text-decoration: underline;
  font-weight: 500;
}

.homepage-updates {
  display: flex !important;
}
.homepage-article-text {
  margin-left: 1.2rem;
}

.clinic-container {
  display: flex;
  align-items: center;
}

.date-container span:first-of-type {
  font-style: italic;
  font-size: 0.8rem;
  font-weight: 500;
}
.date-container span:nth-child(2) {
  font-size: 1.2rem;
}
.homepage-clinic-text {
  margin-left: 1.2rem;
}

.homepage-clinic-text p {
  font-size: 1.2em;
  font-weight: 500;
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
}
.homepage-clinic-text span {
  font-size: 0.9em;
  font-style: italic;
}
